# Creating and populating SQL tables with Pandas

## Exercise 1

Given the following class diagram and the data contained in [data.csv](../02/data.csv) and [publisher.csv](../02/publisher.csv), use Pandas to convert the CSV in data frames according to the model provided

![Classes diagram](../02/classes_diagram.jpg)

Please note: the first column of each table must contain a unique identifier

## Exercise 2

Use Pandas to populate a SQL database with newly created tables

## Exercise 3

Write and execute the following SQL queries via `sqlite3`:

- Find the title, type and publisher id of the document whose identifier is "doi:10.5244/c.14.27"
- Return id, title and publisher id of all book chapters
- Return title, type, publisher id and publisher name of the document with id "doi:10.5005/jp/books/11313_5"